{% extends 'components/base.html' %}

{% block title %}{{ _('Site_Title_Player') }}{% endblock %}

{% block body_attr %}class="bg-dark"{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        {% include 'components/brand.html' ignore missing %}

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link active bg-info" href="{{ url_for('monitor.play') }}">
                        {{ _('Nav_Reload') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard.dashboard') }}" target="_blank">
                        {{ _('Nav_Sauces') }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        {% for row in rows %}
            <div class="row">
                {% for link in row %}
                    <div class="col embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="{{ link }}"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
