{% extends 'components/base.html' %}

{% block title %}DD Monitor - Dashboard{% endblock %}

{% block body_attr %}{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
        {% include 'components/brand.html' ignore missing %}

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link active bg-info" href="{{ url_for('monitor.play') }}">返回监视器</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block sidebar p-3 d-none d-lg-block">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item p-1">
                        <a class="nav-link active bg-primary" href="{{ url_for('dashboard.dashboard') }}">刷新列表</a>
                    </li>
                    <li class="nav-item p-1">
                        <a href="#" class="nav-link bg-success text-white" id="createLink"
                           onclick="linkModalData('{{ url_for('dashboard.get_link', link_id=0) }}')"
                           data-toggle="modal" data-target="#linkModal">
                            添加视频源
                        </a>
                    </li>
                    <li class="nav-item p-1">
                        <a href="#" class="nav-link bg-info text-white" id="createLinkByChannelId"
                           data-toggle="modal" data-target="#linkChannelIdModal">
                            添加视频源 - 频道ID
                        </a>
                    </li>
                </ul>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2 text-muted">视频源列表</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary d-md-none">+</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        {#<th scope="col">#</th>#}
                        <th scope="col" width="45%">标题</th>
                        <th scope="col" width="40%">链接</th>
                        <th scope="col" width="15%">--</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            {#<th scope="row">{{ link._id }}</th>#}
                            <td>{{ link.title }}</td>
                            <td>{{ link.link }}</td>
                            <td>
                                <a href="#" class="btn-sm bg-info text-light" id="update{{ link._id }}"
                                   onclick="linkModalData('{{ url_for('dashboard.get_link', link_id=link._id) }}')"
                                   data-toggle="modal" data-target="#linkModal">
                                    <span>编辑</span>
                                </a>
                                &nbsp;
                                <a href="#" class="btn-sm bg-danger text-light"
                                   onclick="axios.delete('{{ url_for('dashboard.delete_link', link_id=link._id) }}').then(()=>location.reload())">
                                    <span>删除</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </main>

        </div>
    </div>

    {% include 'components/modal_link.html' %}
    {% include 'components/modal_link_channel_id.html' %}
{% endblock %}

{% block javascript %}

{% endblock %}
